<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LTI Userdashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a   routerLink="/home">Home</a></li>
      <li *ngIf="usercheck"><a  routerLink="employee">Employee</a></li>
      <li  *ngIf="!usercheck" ><a  routerLink="login">Login</a></li>
     
   
      <li>
        <a  *ngIf="usercheck"(click)="logOff()">LogOff</a></li>
     
        
      
    </ul>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
